{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style='width:40rem'>
                <div class="card-body">
                    <h5 class="card-title mb-3">Create your Resume</h5>
                    
                    <form action="" method="post" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">First Name</label>
                            {% render_field form.first_name class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">Surname</label>
                            {% render_field form.surname class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">Location</label>
                            {% render_field form.loaction class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">Job Title / Profession</label>
                            {% render_field form.job_title class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">Upload Resume(pdf)</label>
                            {% render_field form.resume class='form-control' %}
                        </div>
                        <input type="submit" class='btn btn-success' value="Create"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}