{% extends "base.html" %}
{% load humanize %}
{% block content %}
<section class="container">
    <div class="p-2 mb-4 bg-light rounded-3">
        <div class="container-fluid py-1">
            <h2 class="display-6 fw-bold">Django Jobs. Get Hired Quickly!</h2>
            <p class="col-md-8 fs-5 mt-3">All Avialable Jobs</p>
        </div>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for job in jobs %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{job.title}}</h5>
                    <p class="card-text text-muted">{{job.company}}</p>
                    <p class="card-text">{{job.location}}</p>
                    <p class="card-text">Salary: {{job.salary}}</p>
                    <a class='btn btn-primary' href="{% url "job_details" job.id %}">View Details</a>
                </div>
                <div class="card-footer"><small class="text-muted">Created {{job.published|naturaltime|naturalday}}</small></div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock content %}