{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="container">
    {% include "messages.html" %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style='width:40rem'>
                <div class="card-body">
                    <h5 class="card-title mb-3">Create your company</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">Company Name</label>
                            {% render_field form.name class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">Estabilshed time</label>
                            {% render_field form.est_date class='form-control' type='date' %}
                        </div>
                        <div class="mb-3">
                            <label for="">City</label>
                            {% render_field form.city class='form-control' %}
                        </div>
                        <div class="mb-3">
                            <label for="">State</label>
                            {% render_field form.state class='form-control' %}
                        </div>
                        <input type="submit" class='btn btn-success' value="Create"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}