{% extends "users/base.html" %}
{% block content %}

        <div class="col-md-10 mx-auto col-lg-5">
            <h2 class='text-center'>Login Here</h2>
            {% include "messages.html" %}

            <form action="" method="post" class="ps-4 p-md-4 border rounded-3 bg-light">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" name='email' class="form-control" id='floatingInput' placeholder='name@example.com'>
                    <label for="">Email Address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name='password' class="form-control"  id='floatingPassword' placeholder='name@example.com'>
                    <label for="">Password</label>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Sign In</button>
                <hr class="my-4">
                {% comment %} <small class="text-muted">By clicking sign up , you are agree to terms of use</small> {% endcomment %}
                <small class="text-muted">Don't have any account?<br>
                    <a href="{% url "register_applicant" %}">Sign up as <span class="fw-bolder">Applicant</span></a></small> or
                    <a href="{% url "register_recruiter" %}">Sign up as <span class="fw-bolder">Recruiter</span></a>
            </form>
        </div>
            

{% endblock content %}